html, body {
    padding-top: 5px;
    font-family: 'Neonderthaw', cursive;
    background:#ebcccc;
    color:#fff;
    font-size:20px;
    overflow:hidden;
}

.bg, .fg {
    position:top;
    width:100%;
    height:100%;
    display:flex;
    align-items:top;
    justify-content: center;
}

.neon {
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #ff7474,
    0 0 40px #ff7474;
    position:absolute;
}

.follower {
    width:300px;
    height:300px;
    position:center;
    background:radial-gradient(#000000aa,#00000000 66%)
}

.button{ 
    text-decoration: none;
    color:#ff7474;
}

body {
    margin: 0;
    padding: 0;
    width: 100 vw;
	font-size: 17px;
    font-family: "PT sans", sans-serif;
	line-height: 1;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 3px;
    background-color:rgb(228, 228, 216);
    display:flex;
    justify-content:space-around;
    align-items:center; 
}  


.menu  {
    color:rgb(219, 146, 201);
}

.hi {
    color:rgb(208, 151, 52);
}


.button {
    font-size: 18px;
    text-decoration:none;
    padding: 10px 10px;
    text-align: center;
    color:rgb(20, 243, 31);
    border:none;
    border-radius: 5px;
}


.header a.button:hover {
    background-color:  rgb(216, 163, 213);
}

h1, h3 {text-align: center;}

.h2 {
    color:rgba(0, 102, 179, 0.773);
    padding-left: 50px;
}

.h2action {
    color:rgb(247, 30, 30);
}
   
main {
    background-image:url(./img/pic6.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    margin: 0  auto;
    width: 100vw;
    height: 100vh;
    color:white;
    font-size: 15px;
    text-shadow: #333 1px 1px 0;
}

li {
    padding: 10px;
}

.h1 {
    color:rgb(247, 30, 30);
    font: 1em sans-serif;
    font-style:italic;
    top: 100px; 
    left: 70px;
    text-shadow: #333 1px 1px 0;
}

.birthday a {
    color: #fbe202;
    text-align: center;
}

.birthday div {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #6a27b6;
    text-align: center;
}

.container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.galereya {
    background: #e9a0f049;
    border-width: 3px;
    border-style:dotted;
    border-color:rgba(246, 255, 0, 0.421);
}

.section {
    margin: 0  auto;
    width: 600px;
    display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-around;

}


.action {
    display: flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content: space-around;
    max-width:30vw;height:auto;
   
}


.service li{
    margin-bottom: 10px;
}

.service {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.form {
    padding: 50px;
    background-color:rgba(224, 211, 194,0.5);
}

input{
    margin: 20px;
}

.but_log {
    background-color:  #f797f7;
    border: 2px  solid  #ec9cdb;
    border-radius: 7px;
    color:white;
}

input.but_log:hover {
    background-color:rgb(224, 146, 185);
    border: 2px  solid  rgb(218, 142, 214);
}

img {max-width:100%;height:auto;}